:root {
  --space-1: 0.5rem;
  --space-2: 0.8rem;
  --space-3: 1.0rem;
  --space-10: 6rem;
}

:is(*, ::before, ::after) {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: var(--space-3) var(--space-10);
}
